<header>
    <nav>
        <span class="nav-logo">
            <a href=""><img src="images/icons/logo.png" alt=""></a>
            <p>myUdemy</p>
        </span>
        <span class="nav-links">
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Courses</a>
            <a href="/login">login</a>
            {{!-- <div id="login" class="fas fa-user-circle">
                <a href="/login">login</a>
            </div> --}}
            <img src="images/icons/profile.png" alt="Avatar" style="width:200px">
        </span>
    </nav>
</header>